/* reset di alcune proprietà di default del browser */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* valore di default: prova a cambiare per vedere che succede (tutti gli elementi si ridimensionano proporzionalmente) */
}

body {
  font-family: sans-serif;
  /* la & sostituisce il selettore più in alto in questo caso body */
  /* tolgo la sottolineatura da tutti link della pagina */
  & a {
    text-decoration: none;
  }
}
/* fine reset */

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.3rem;
}
p {
  font-size: 1.2rem;
}

header {
  padding: 1.25rem 5rem; /* il rem è un'unità relativa: di default 1rem=16px. se voglio ridimensionare proporzionalmente tutti gli elementi della pagina basta che cambio il font-size nel tag html ad un unità diversa e tutti gli altri si adeguano in proporzione. Invece se si usano i px bisognerebbe cambiare tutti i valori in tutti gli elementi. (provare per credere). È comodo anche per cambiare le dimensioni dei font nel responsive */
}

/* imposto un padding per tutte le sezioni della pagina */

.hero,
.lover,
.cards-container,
.lover2 {
  padding: 4rem;
}
/* fine */

/* rendo i vari contenitori flessibili con allineamento verticale dei contenuti al centro */
header,
menu,
.search {
  display: flex;
  align-items: center;
}

/* 2 contenitori i cui elementi vanno a capo se restringo la finestra (responsive) e le distanze tra i loro elementi  */
header,
menu {
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

/* gli elementi dell'header sono allineati orizzontalmente */
header {
  justify-content: space-between;
  background-color: #e2a902;
  color: white;

  & .logo {
    width: 10rem;
  }

  /* tolgo i punti dell'elenco */
  & menu {
    list-style: none;
    font-size: 1.1rem;

    & a {
      /* i link non ereditano automaticamente il colore dal parent quindi lo specifico */
      color: inherit;
    }
  }

  .search {
    height: 1.5rem;
    font-size: 0.8rem;

    /* la casella di ricerca */
    & input {
      border: none;
      padding: 0.25rem;
      background-color: #ffc502;
      width: 6rem;
      color: white;
      font-size: inherit;

      /* la scritta che compare prima che inizio a digitare nella casella di ricerca (vedere anche l'html)*/
      &::placeholder {
        color: inherit; /*il colore viene ereditato da input */
        font-size: inherit;
      }

      /* tolgo la fastidiosa linea intorno quando seleziono la casella di ricerca per scriverci */
      &:focus,
      &:active {
        outline: none;
      }
    }

    /* il bottone-immagine (lente) */
    & #search-btn {
      background-color: #04b3cb;
      border: none;
      width: 2rem;
      height: inherit;
      padding: 0 0.7rem;
      cursor: pointer; /* fa comparire la manina se passo sopra la lente col mouse */

      & img {
        width: 0.6rem;
      }
    }
  }
}

/* di solito la sezione del titolo con immagine viene chiamata "hero" */
.hero,
.lover,
.lover2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    width: 35%;
    height: 100%;
    object-fit: cover;
  }

  /* per centrare verticalmente la parte sinistra uso flex */
}

.hero {
  background-color: #ffc502;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  padding: 3rem 0;

  & p {
    margin-bottom: 1rem;
  }

  .actions {
    display: flex;
    gap: 2rem;

    & .btn {
      padding: 0.6rem 1rem;
      color: white;
      border-radius: 5px;
      cursor: pointer;

      &.btn-green {
        background-color: #04b3cb;
        border: none;
        &:hover {
          /* piccolo trucco per l'effetto hover: cambio solo un carattere */
          background-color: #04c3cb;
        }
      }
      &.btn-yellow {
        background-color: #ffc502;
        border: 2px solid white;
        &:hover {
          background-color: #ffd502;
        }
      }
    }
  }
}

.lover,
.lover2 {
  gap: 4rem;

  & .image-filtered {
    width: 40%;
    aspect-ratio: 1;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffc50288;
      z-index: 10;
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  & .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
  }
}

.cards-container {
  background-color: #ffc502;
  color: white;
  padding-bottom: 2rem;

  & h1,
  p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 4rem;
  }

  & .cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    & .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & img {
        width: 100%;
      }

      & h3 {
        text-align: center;
        font-size: 1.2rem;
      }
      & p {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
}
.lover2 .actions {
  justify-content: end;
}
